/* 依赖：style.css中的.card和.hvCenter*/
.request-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #6c6c6c78;
    z-index: 99;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.request-cover .card {
    position: fixed;
    width: auto;
    height: auto;
    background-color: rgb(37, 38, 45);;
    padding: 1em;
    overflow: hidden;
    color: rgb(235, 235, 235);
}

.request-cover .title {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.card.hvCenter .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px 0 8px;
    margin: 0.2em;
    background: inherit;
    color: inherit;
}

.request-cover .card.hvCenter button {
    margin: 0 0.25em;
    border: none;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    cursor: pointer;
    outline: none;
    color: inherit;
}
.request-cover .ui-confirm {
    flex: 1;
    background: rgb(60, 87, 221);
    color: white;
}
.request-cover .ui-cancel {
    flex: 1;
    background-color: #2e3039;
    color: white;
}

.card.hvCenter input,
.card.hvCenter select {
    flex: 1;
    background: inherit;
    border: 1px solid rgb(54, 58, 69);
    border-radius: 0.25em;
    color: inherit;
    margin: 0 0.8em;
    padding-left: 0.6em;
}

/* 进度条 */
.porgress-track {
    display: block;
    width: 16em;
    height: 1em;
    border-radius: 2em;
    background-color: #1e1f24;
    overflow: hidden;
}

.porgress-value {
    width: 0;
    height: inherit;
    background-color: #761fc8;
}