html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    overflow: hidden;
}

.dragIn::before {
    content: "Drag and drop your file here";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.55);
    font-size: 2em;
}
    
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hvCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scrollbar-track {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    height: 1em;
    background-color: lightgray;
}

#scrollbar-thumb {
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: gray;
    cursor: pointer;
}