:root {
    --theme-light: #2e3039;
    --theme-middle: #25262d;
    --theme-dark: #1e1f24;
    --theme-text: #8e95a6;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--theme-text);
    background-color: var(--theme-dark);
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0;
    border: none;
}

/* flex */
.f {
    display: flex;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    flex-direction: row;
}

/* width full */
.wf {
    width: 100%;
}

.dragIn::before {
    content: "Drag and drop your file here";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.55);
    font-size: 2em;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hvCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scrollbar-track {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    height: 1em;
    background-color: rgb(37, 38, 45);
}

#scrollbar-thumb {
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: rgb(69, 72, 81);
    cursor: ew-resize;
}

#play-btn {
    background-color: var(--theme-middle);
    color: var(--theme-text);
    border: none;
    border-right: var(--theme-dark) solid 3px;
    position: relative;
    font-size: 0.8em;
    cursor: pointer;
    user-select: none;
}

.flexfull {
    flex: 1;
    /* 下面这行必须加 不然被画布撑开了就缩不回去了 */
    overflow: hidden;
}

.tools {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.top-logo {
    height: 36px;
    padding: 0 8px;
    cursor: pointer;
}

#LOGO:hover {
    background-color: var(--theme-middle);
}

/* 可以套在外面的盒子，盒子中可以放属性名 */
.rangeBox {
    height: 1em;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0.25em;
}

/* 工具选择 */
.switch-bar {
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    /* 消除因为换行和缩进带来的间隔 */
    white-space: nowrap;
    font-size: 0;
}

.switch-bar button {
    border: none;
    color: white;
    margin: 0;
    cursor: pointer;
    padding: 0.5em 0.6em;
    border-radius: 0;
    background: rgb(50, 53, 62);
    /* 恢复默认大小 */
    font-size: 16px;
}

.switch-bar button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.switch-bar button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.switch-bar .selected {
    background-color: rgb(60, 87, 221);
}

/* EQ控制面板 */
#EQcontrol {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 频率值 */
#EQcontrol h5 {
    margin: 0.4em 0 0 0;
    padding: 0;
}
#EQcontrol .myrange {
    width: 100%;
    margin: 0 0 0.3em 0;
}
#EQcontrol input {
    width: 100%;
    margin: 0 5px 0 0;
}

/* 漂亮的滑动条 */
.niceScroll {
    overflow: auto;
}
.niceScroll::-webkit-scrollbar {
    width: 12px;
}
.niceScroll::-webkit-scrollbar-thumb {
    background-color: rgb(50, 53, 62);
    border: 3px solid rgb(37, 38, 45);
    border-radius: 6px;
}
.niceScroll::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background-color: rgb(37, 38, 45);
}