@font-face {
  font-family: "iconfont"; /* Project id 4420000 */
  src: url('iconfont.woff2?t=1706748574670') format('woff2'),
       url('iconfont.woff?t=1706748574670') format('woff'),
       url('iconfont.ttf?t=1706748574670') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen-l:before {
  content: "\e64d";
}

.icon-select:before {
  content: "\ea60";
}

.icon-range:before {
  content: "\e63c";
}

.icon-eyeslash-fill:before {
  content: "\e7aa";
}

.icon-eye-fill:before {
  content: "\e7ab";
}

.icon-close_volume:before {
  content: "\e6a0";
}

.icon-volume:before {
  content: "\e6a3";
}

